[data-menu='button']{
    display: none;
}
@media (max-width: 700px){
    .js [data-menu='button']{
        display: flex;
        background: #222;
        border: none;
        padding: .5rem 1rem;
        border-radius: 4px;
        text-transform: uppercase;
        font-family: 'IBM Plex Mono', monospace;
        font-weight: bold;
        color: white;
        cursor: pointer;
        margin: 10px;
        align-items: center;
        position: relative;
        z-index: 201;
    }
    .js [data-menu='button'].ativo::before{
        transform: rotate(90deg);
        transition: transform .3s;
    }
    .js [data-menu='button']::before{
        content: '';
        margin-right: 4px;
        display: inline-block;
        height: 2px;
        width: 12px;
        background: white;
        box-shadow: 0 4px #fff, 0 -4px #fff;
        transition: transform .3s;
    }
    .js [data-menu="lista-menu"]{
        display: none;
        position: absolute;
        background: #fb5;
        width: 160px;
        z-index: 200;
        top: 0;
        padding: 60px 0 20px 0;
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
    }
    .js [data-menu="lista-menu"].ativo{
        display: block;
        animation: mostrar-descricao-right .3s forwards;
    }
    .js [data-dropdown].ativo .dropdown-menu{
        position: static;
        border: none;
        animation: mostrar-dopdown-mobile .3s forwards;
    }
    .js .dropdown-menu::before{
        border-bottom-color: #e54;
    }
    @keyframes mostrar-dopdown-mobile{
        from{
            opacity: 0;
            transform: translate3d(0, -30px, 0);
        }
        to{
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}